doctype html 
html 
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width,initial-scale=1.0')
        
        link(rel='stylesheet' type='text/css' href='css/style.css')
        title Natours | #{tour}

    body 

        include __header

        
        block content
            h1= tour  
        

        include __footer

        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
        //- <script src='login.js' type='module'></script>
        script(src='/js/login.js')