extends base

block content 
    form.login_form
        input.email_input(type='email' placeholder='enter email' name='email' id='email')
        input.login_password(type='password' placeholder='enter password' name='password' id='password') 
        button.login_btn Login 